/*ROBOTO 100, 300, 500, 700*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap');
        /*font-family: 'Roboto', sans-serif;*/

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*por algum motivo ele não herda isso do normalizer, ent por enquanto eu to dando uma reescrita*/
span{
    margin: 0;
    display: block;
}

body{
    background-color: #f6f8f6;
}

#header{
    display:flex;
}

#header img{
    margin-right: 1rem;
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    border-style: none;
}

.content{    
    background-color: #fff;
    
    width: 100vw;
    height: 100vh;
    padding: 1rem 2rem;
}

.content h1{
    color: #1c2635;
    font-size: 3rem;

    margin-bottom: .5rem;
}

.content p{
    color: #1c2635;
    font-size: 1rem;
    margin-left: 2rem; 
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto; 
        border-radius: 1rem;
    }
}

.pokemons{
    list-style: none;
    margin: 0;
    padding: 0;

    /*modelando os items da lista em uma grade (tabela) e determinando sua proporção por coluna*/
    display: grid;
    grid-template-columns: 1fr;
}
