/*ROBOTO 100, 300, 500, 700*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap');
        /*font-family: 'Roboto', sans-serif;*/

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*por algum motivo ele não herda isso do normalizer, ent por enquanto eu to dando uma reescrita*/
span{
    margin: 0;
    display: block;
}

body{
    background-color: #f6f8f6;
}

.content{
    padding: 1rem;
    background-color: #fff;
    color: #1c2635;
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto; 
        border-radius: 1rem;
    }
}

.pokemons{
    list-style: none;
    margin: 0;
    padding: 0;

    /*modelando os items da lista em uma grade (tabela) e determinando sua proporção por coluna*/
    display: grid;
    grid-template-columns: 1fr;
}
